---
layout: default
title: Strona główna bloga
---

<!-- <div class="w3-padding-large w3-content">
    <div class="w3-center section-header">
        <h2 class="w3-xxlarge">Witaj na blogu!</h2>
        <p class="w3-large">Informatyka, programowanie itd. itp. Poniżej sugerowane kategorie wpisów.</p>
    </div>
</div> -->

<div class="w3-row-padding w3-center w3-margin-top">

    <a href="/kategoria/Programowanie" class="w3-third">
        <div class="category-card">
            <div class="w3-card w3-container" style="min-height:460px">
                <h3>Programowanie</h3><br>
                <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                <p>C/C++ - ciekawostki</p>
                <p>Aplikacje mobilne Android</p>
                <p>Code with &lt;3 in Kotlin</p>
                <p>Miniprojekty</p>
            </div>
        </div>
    </a>
    
    <a href="#" class="w3-third">
        <div class="category-card">
            <div class="w3-card w3-container" style="min-height:460px">
                <h3>Informatyka</h3><br>
                <i class="fa fa-css3 w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                <p>Opisy rzeczy</p>
                <p>Teoria</p>
                <p>Pogaduchy</p>
                <p>Projekty</p>
            </div>
        </div>
    </a>

    <a href="#" class="w3-third">
        <div class="category-card">
            <div class="w3-card w3-container" style="min-height:460px">
                <h3>Warsztat</h3><br>
                <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                <p>Offtop</p>
                <p>Gry komputerowe</p>
                <p>Studiowanie i depresja xD</p>
                <p>Inne...</p>
            </div>
        </div>
    </a>
</div>

<hr>

<!-- Najnowsze wpisy -->
<div class="w3-padding-large w3-content">

    <div class="w3-center section-header">
        <h2 class="w3-xxxlarge">Najnowsze wpisy</h2>
        <p class="w3-large">Poniżej znajdziesz kilka najnowszych wpisów, które pojawiły się na tej stronie. Gdy tylko czas pozwala, staram się uzupełniać tę skromną witrynę o nowe, ciekawe treści.</p>
    </div>

    {% for post in site.posts limit:3 %}

    <div class="w3-card w3-row w3-margin-top post-card">
        <h3 class="w3-padding-small w3-center">{{ post.title }}</h3>
        <div class="w3-row">
            <div class="w3-col m3 l2">
                <img src="{{ site.path.thumbnails | append: post.thumbnail | relative_url }}" alt="Miniaturka do wpisu">
            </div>
            <div class="w3-rest w3-padding-small">
                {{ post.excerpt }}
                <a class="w3-button w3-right w3-green" href="{{ post.url }}">Czytaj...</a>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% include contact-section.html %}
