
<!-- Kontakt -->
<div class="w3-padding-large w3-content w3-center" style="margin-bottom: 30px;">
    <h2 class="w3-xxxlarge">Kontakt z autorem</h2>
    <p class="w3-largee">Jeśli masz jakiesz pytania lub chcesz się podzielić swoją opinią lub zgłosić błąd na stronie, to zachęcam do kontaktu ze mną. Ze względu na ograniczony czas, nie na wszystie wiadomości będę w stanie odpowiedzieć.</p>

    <a href="/kontakt/"><button class="w3-button w3-green w3-round w3-large w3-margin-top">Formularz kontaktowy</button></a>
</div>