<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{site.author}}">
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{page.keywords}}{% else %}{{site.keywords}}{% endif %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ "/css/w3.css" | relative_url}}">
    <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">

{% include favicon.html %}

    <title>{{ page.title }}</title>
</head>
<body>

<div id="mobile-navbar" class="w3-row w3-hide-medium w3-hide-large w3-card w3-center w3-green">
    <i onclick="nav_open()" class="fa fa-bars w3-xlarge w3-button w3-theme w3-left"></i> 
    <span style="line-height: 40px; margin-left: -56px;">Kyriet's Stuff</span>
</div>

  <!-- Header -->
<header class="w3-container w3-center w3-padding-32" id="page-header">
    <div id="page-logo">
        <img src="{{ "/assets/img/logo.svg" | relative_url }}" alt="Logo" class="logo w3-animate-left" style="width: 100px;" 
            onerror="this.src='{{ "/assets/img/logo.png" | relative_url }}'">
    </div>
    <div id="page-title">
        <h1 class="w3-xxxlarge w3-animate-top"> KYRIET'S STUFF</h1>
        <h4 class="w3-animate-bottom">KTO PYTA, NIE BŁĄDZI. KTO SZUKA, TEN WIE.</h4>
    </div>
</header>

<!-- Nawigacja -->
<nav id="navigation" class="w3-sidebar w3-bar w3-bar-block w3-card-2 w3-animate-left w3-center w3-light-gray" style="display:none">
    <div class="w3-content">

        <button class="w3-bar-item w3-button w3-hide-medium w3-hide-large" style="border-bottom: 1px solid lightgray;" onclick="nav_close()">Zamknij <i class="fa fa-remove"></i></button>

        <a href="{{ "/" | relative_url }}" class="w3-bar-item w3-button w3-mobile">Start</a>

        <div class="w3-dropdown-click w3-center">
            <button id="dropdown-categories-button" class="w3-button">
                Kategorie <i class="fa fa-caret-down"></i>
            </button>
            <div id="dropdown-categories" class="w3-dropdown-content w3-bar-block w3-card">

                {% for category in site.categories reversed %}
                {% assign category_name = category | first %}
                {% assign category_slug = category_name | downcase | slugify: "latin" %}
                    <a href="{{ site.path.category | append: category_slug | relative_url }}" class="w3-bar-item w3-button">{{category_name}}</a>
                {% endfor %}

                <!-- <a href="category.html" class="w3-bar-item w3-button">Programowanie</a>
                <a href="#" class="w3-bar-item w3-button">Informatyka</a>
                <a href="#" class="w3-bar-item w3-button">Warsztat</a> -->
            </div>
        </div>

        <a href="#" class="w3-bar-item w3-button w3-mobile">Portfolio</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile">Kontakt</a>

        <!-- Wyszukaj -->
        <form action="/wyszukaj/" method="get" class="w3-right" autocomplete="off">
            <button class="w3-bar-item w3-right w3-button w3-green w3-mobile"><i class="fa fa-search"></i></button>
            <input type="text" id="dropdown-search-input" class="w3-bar-item w3-input w3-white w3-mobile w3-border-left w3-left-align" 
                style="display: inline-block; float: none;" placeholder="Wyszukaj..." name="s">
            <div id="dropdown-search" class="w3-dropdown-content w3-card w3-bar-block">
                <div id="dropdown-search-results"></div>
                <span id="dropdown-search-info" class="w3-bar-item">Kilka niedawnych wpisów.<br>Wciśniej enter, aby wyszukać dokładniej.</span>
            </div>
        </form>

    </div>
</nav>
<div class="nav-gap"></div>

{{ content }}

<!-- Stopka -->
<div class="w3-light-gray">
    <div class="w3-row-padding w3-auto w3-margin-top w3-stretch">

        <div class="w3-third w3-padding-large">
            <h3 class="w3-center">O Autorze</h3>
            <p class="w3-justify">Sebastian Fojcik - jest istotą człekokształtną, która wykazuje wzmożone zainteresowanie technologiami informatycznymi. Ma w zwyczaju narzekać siarczyście przy pracy ze źle skonstruowaną dokumentacją, którą czyta wybiórczo, a później płacze, że nic nie działa, projekt się nie kompiluje, sypie błędami, testy nie przechodzą i wszystko to jak KREW W PIACH!</p>
        </div>
    
        <div class="w3-third w3-padding-large">
            <h3 class="w3-center">Cytat na dziś</h3>
            <p class="w3-center">„Największą przeszkodą, która w znaczący sposób spowalnia sprawdzanie pisanych przez państwa egzaminów jest śmiech.”</p>
            <p class="w3-right">~ M.G.</p>
        </div>
    
        <div class="w3-third w3-padding-large w3-center">
            <h3 class="w3-center">Polecane linki</h3>
            <ul class="w3-left-align" style="display: inline-block">
                <li>Ten blog :-)</li>
                <li>Mój kanał YouTube - pewnie xD</li>
                <li>TheCherno - YouTube C++</li>
                <li>Computerphile - YouTube</li>
                <li>StackOverflow - generator inż.</li>
                <li>Wikipedia - wszyscy narzekają, każdy korzysta</li>
            </ul>
        </div>
    </div>
</div>

<script src="{{ "/js/main.js" | relative_url }}"></script>

{% include mathjax-v3.html %}

<script src="{{ '/js/search.js' | relative_utl }}"></script>
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('dropdown-search-input'),
  resultsContainer: document.getElementById('dropdown-search-results'),
  limit: 4,
  success: () => {},
  json: [
    {%- for post in site.posts limit:100 -%} 
    {"title":{{post.title | jsonify}},"url":{{ post.url | jsonify }}}
    {%- unless forloop.last -%}, {%- endunless -%}
    {%- endfor -%}
  ],
  noResultsText: '',
  searchResultTemplate: `<a href="{url}" class="w3-bar-item w3-button">{title}</a>`
});
</script>

</body>
</html>